In [1]:
import pandas as pd

In [ ]:
# The Solar Power Data for Integration Studies consist of 1 year (2006) of 5-minute solar power and hourly 
# day-ahead forecasts for approximately 6,000 simulated PV plants. 
#
# NREL generated the 5-minute data set using the Sub-Hour Irradiance Algorithm. 
# The day-ahead solar forecast data for locations in the western United States were generated by 3TIER based 
# on numerical weather predication simulations for Phase 1 of the Western Wind and Solar Integration Study. 
# NREL generated the day-ahead solar forecast data in eastern U.S. locations using the Weather Research and 
# Forecasting model.

In [11]:
# File to Load (Remember to Change These)
co_data_to_load = "../Group-Project-1/co-pv-2006/Actual_37.05_-102.85_2006_UPV_75MW_5_Min.csv"

# Read School and Student Data File and store into Pandas DataFrames
co_data_to_load = pd.read_csv(co_data_to_load)
co_data_to_load.loc[co_data_to_load['Power(MW)']>0]

             LocalTime  Power(MW)
97      01/01/06 08:05        9.7
98      01/01/06 08:10        1.4
99      01/01/06 08:15        1.1
100     01/01/06 08:20        1.8
101     01/01/06 08:25        3.3
...                ...        ...
105023  12/31/06 15:55        4.6
105024  12/31/06 16:00        4.5
105025  12/31/06 16:05        2.8
105026  12/31/06 16:10        2.5
105027  12/31/06 16:15        0.7

[47350 rows x 2 columns]